@page "/"

@using CALCULATOR.APP.Interface;
@inject ICalculatorService CalculatorService;

<!DOCTYPE html>
<html>
  
<head>
    <!-- for styling -->
    <style>
        table {
           
            margin-left: auto;
            margin-right: auto;
        }
  
        input[type="button"] {
            width: 95%;
            padding: 20px 40px;
            background-color: #8C8886;
            color: white;
            font-size: 24px;
            font-weight: bold;
            border: none;
            border-radius: 10px;

        }

        #caracteres{
            background-color: #FA8539;
        }
  
        input[type="text"] {
            padding: 20px 30px;
            font-size: 24px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            border: 2px solid black;
        }
    </style>
</head>
<!-- create table -->
  
<body>

    <div class="cert-lab">
        <table id="calcu">
            <tr>
                <td colspan="3"><input type="text" disabled @bind-value="resultToAdd" id="result"></td>
                <!-- clr() function will call clr to clear all value -->
                <td><input type="button" value="c" onclick="@(() => Clr())" /> </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="1" onclick="@(() =>ResultToAdd("1"))">
                </td>
                <td>
                    <input type="button" value="2" onclick="@(() =>ResultToAdd("2"))">
                </td>
                <td>
                    <input type="button" value="3" onclick="@(() =>ResultToAdd("3"))">
                </td>
                <td>
                    <input type="button" id="caracteres" value="/" onclick="@(() =>ResultToAdd("/"))">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="4" onclick="@(() =>ResultToAdd("4"))">
                </td>
                <td>
                    <input type="button" value="5" onclick="@(() =>ResultToAdd("5"))">
                </td>
                <td>
                    <input type="button" value="6" onclick="@(() =>ResultToAdd("6"))">
                </td>
                <td>
                    <input type="button" id="caracteres" value="*" onclick="@(() =>ResultToAdd("*"))">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="7" onclick="@(() =>ResultToAdd("7"))">
                </td>
                <td>
                    <input type="button" value="8" onclick="@(() =>ResultToAdd("8"))">
                </td>
                <td>
                    <input type="button" value="9" onclick="@(() =>ResultToAdd("9"))">
                </td>
                <td>
                    <input type="button" id="caracteres" value="-" onclick="@(() =>ResultToAdd("-"))">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="0" @onclick="@(() =>ResultToAdd("0"))">
                </td>
                <td>
                    <input type="button" value="." @onclick="@(() =>ResultToAdd("."))">
                </td>
                <!-- solve function call function solve to evaluate value -->
                <td><input type="button" value="=" onclick="@(() =>Solve())"> </td>

                <td>
                    <input type="button" id="caracteres" value="+" @onclick="@(() =>ResultToAdd("+"))">
                </td>
            </tr>
        </table>
    </div>

</body>

</html>

@code {


    private string resultToAdd = "";

    private void ResultToAdd(string result)
    {
        resultToAdd += result;
    }

    private async void Solve()
    {
        var result = await CalculatorService.GetResultAsync(resultToAdd);
        resultToAdd = result.Body.ToString();
        StateHasChanged();
    }

    private void Clr()
    {
        resultToAdd = "";
    }
}
